.parley {
    margin: 100px 0 0 80px;
}

.__parley-block-navigation-links,
.__parley-block-information-name {
    font-family: 'Sitka', monospace;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.__parley-block {
    margin: 50px 0 0 0;
    background: #490000;
    border-radius: 45px;
    width: 1300px;
    padding: 0 0 30px 0;
    height: fit-content;
}

.__parley-block-header {
    display: flex;
    flex-direction: row;
    margin: 0;
    background: #000000;
    border-radius: 45px;
}

.__parley-block-information {
    width: 1100px;
    padding: 20px 0 10px 70px;
    display: flex;
    flex-direction: row;
}

.__parley-block-navigation-edit-button {
    position: absolute;
    background-color: black;

    font-family: a_MachinaNova, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;

    color: #ffffff;
    margin: 0 0 0 600px;

    top: 1210px;
    left: 1000px;
}

.__parley-block-body {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.__parley-block-body-avatar {
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: white;
    margin: 50px 0 0 50px;
}

.__parley-block-body-text {
    font-family: 'Playfair-regular', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;

    padding: 20px 50px 10px 50px;
    height: fit-content;
    text-align: justify;
}

.__parley-block-reply {
    margin: 70px 0 0 30px;
    padding: 16px 20px 16px 16px;

    background: #ffffff;
    background-size: auto;
    border-radius: 45px;

    width: 1200px;
    min-height: 52px;
    height: fit-content;

    font-size: 15px;
}

.__parley-block-submit {
    font-family: a_MachinaNova, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;

    color: #ffffff;
    margin: 0 0 0 1100px;
}

.__parley-block-delete-button,
.__parley-block-edit-button {
    font-family: a_MachinaNova, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 44px;
    text-decoration: none;
    color: #ffffff;
    padding: 0 0 0 1100px;
}