@font-face {
    font-family: Playfair Display SC;
    src: url(../../../vendor/fonts/PlayfairDisplaySC-Regular.ttf);
}

.background {
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
}

/* вот с ним вопрос */
.page {
    background-image: url(/img/background.png);
    background-size: cover;
    width: 100%;
}

.enkr_logo {
    width: 280px;
    padding: 35px;
    margin: auto;
    display: block;
}

.head_frame {
    width: 1200px;
    height: 55px;
    margin: -10px auto 0;
    position: relative;
    border: 2px solid #FF0000;
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 3px 6px #FF0000;
}

.float_news {
    width: 373px;
    height: 35px;
    margin: 16px auto;

    font-family: 'a_MachinaNova';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 109.84%;
    text-transform: lowercase;
    color: #FFFFFF;
}

.menu_banner {
    width: 100%;
    margin: auto;
    margin-top: -55px;
}

.main_text {
    width: 171px;
    height: 53px;

    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    line-height: 50px;

    list-style-type: none;

    display: flex;
    align-items: center;
    text-align: center;
    text-indent: 14.8802px;
    text-transform: capitalize;

    color: #CF1111;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news_frame {
    width: 160px;
    height: 48px;
    left: 67px;
    right: 80%;
    top: 420px;
    bottom: 0%;

    list-style-type: none;

    background: #490000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px 0px 0px 32px;

    z-index: 1;
}

.frameone {
    z-index: 1;
}
