.__information {
    margin: 0 auto;
    background-image: url("/src/front/img/bg_select1.png");
    max-width: 1440px;
    background-repeat: no-repeat;
}

.menu__information-heading {
    font-family: 'Sitka', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;

    position: relative;
    margin: 0 auto;
    max-width: 800px;

    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;

    background: linear-gradient(132.27deg, #F06969 93.05%, rgba(255, 255, 255, 0) 93.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 4px 4px #FFFFFF;
}