<!DOCTYPE html>
<html lang="ru" xmlns ="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pages/index.css" th:href="@{/css/pages/index.css}"/>
    <link rel="shortcut icon" type="image/png" href="../static/img/icon.png">
    <title>ENKRAZH</title>
</head>
<body>
<div class="page" >
    <header class="header">
        <img class="header__logo" src="../static/img/LOGO.svg" alt="логотип энкраж" th:src="@{/img/LOGO.svg}">
        <marquee class="header__news-container" > <!-- Скорее всего тут будет тег iframe -->
            <span class="header__news-text" th:text="${important_news}"> </span>
        </marquee>
    </header>
    <main class="content">
        <section class="menu">
            <nav class="menu__panel">
                <ul class="menu__list">
                    <li class="menu__list-item"><a class="menu__panel-link" href="#">Правила</a></li>
                    <li class="menu__list-item"><a class="menu__panel-link" href="#">Мир</a></li>
                    <li class="menu__list-item"><a class="menu__panel-link" href="#">FAQ</a></li>
                    <li class="menu__list-item"><a class="menu__panel-link" href="#">Навигация</a></li>
                    <li class="menu__list-item"><a class="menu__panel-link" href="#">Персонажи</a></li>
                </ul>
            </nav>
            <img src="../static/img/banner_line.png" alt="линия под баннером" th:src="@{/img/banner_line.png}">
            <nav class="menu__news">
                    <ul class="menu__news-block" >
                        <li class="menu__news-list"  th:each="post : ${posts}">
                            <div class="menu__news-list-item">
                                <p class="menu__news-text-data"  th:text="${#dates.format(post.time, 'dd/MM/yyyy')}">20.11.2021</p>
                            </div>
                            <div class="menu__news-white-list" aria-valuemax="93">
                                <p class="menu__news-text-information"  th:text="${post.text}">Описание новости</p>
                            </div>
                        </li>
                     </ul>
            </nav>
            <div class="menu__triangle">
                <div class="menu__triangle-form">
                    <p class="menu__triangle-text">" <br> <span th:text="${quantity}"></span> игроков <br> "</p>
                </div>
            </div>
            <div class="menu__acc">
                <img class="menu__tframe" src="../static/img/frameone.png" alt="линия перед рег" th:src="@{/img/frameone.png}">
                <div class="menu__acc-information">
                    <form class="menu__acc-entrance">
                        <button type="button">Sign In</button>
                        <br>
                        <button type="button">Log In</button>
                    </form>
                </div>
                <img class="menu__bframe" src="../static/img/frametwo.png" alt="линия перед рег" th:src="@{/img/frametwo.png}">
            </div>
        </section>
        <br>
        <section class="__information" th:src="@{/img/bg_select1.png}">
            <div class="__information-text">
                <h2 class="menu__information-heading">“ Наша история начинается после конца. Где мы обязательно дадим начало, достойное наших проклятых душ ”</h2>
                <div class="menu__information-box">
                    <h3 class="menu__information-bg">ИНОЙ МИР</h3>
                    <p class="menu__information-text">ИНОЙ МИР</p>
                    <ul class="menu__information-descrip-one">
                        <li class="menu__information-descrip-element-one">
                            Это мир, который выходит за рамки нашего людского понимания, находящийся где-то там, в легендах, которые рассказывают о жизни после смерти. Мало кто верит в существование этого места, однако лишь до тех пор, пока самолично не окажется здесь. Сюда попадают все грешные души, что хоть единожды совершили один из семи смертных грехов и его пороков, и здесь, внутри неизвестного мира, им приходится отстаивать своё право на существование, бросая вызов всему.
                        </li>
                    </ul>
                    <ul class="menu__information-descrip-two">
                        <li class="menu__information-descrip-element-two">
                            Мы оказываемся в замке, происхождение которого нам неизвестно. Мы оказываемся в совершенно новом и неизведанном мире, со своими собственными правилами, законами и природой. Более того, каждый из нас уже никогда больше не будет “настоящим” человеком.
                        </li>
                        <li class="menu__information-descrip-element-two">
                            У каждого своя здесь миссия, но есть одна самая негласная: дело грешных душ - удержать равновесие и не позволить этому месту треснуть по швам, где к нашим спинам подступает то, с чем они столкнулись впервые. Они знают, что мир покинул их, поэтому будут строить свой собственный, в котором больше не встретятся несчастье и боль. Но чего всё это будет стоить? Смогут ли они выжить  среди междоусобиц и не разрушить последнюю надежду каждого, кто желает изменить своё прошлое или же будущее?
                        </li>
                    </ul>
                    <img class="menu__information-woman" src="../static/img/woman1.png" alt="женщина" th:src="@{/img/woman1.png}">
                    <div class="menu__information-underline"></div>
                </div>
                <br>
            </div>
        </section>
    </main>
    <footer class="footer">
    </footer>
</div>
</body>
</html>