<!DOCTYPE html>
<html lang="ru" xmlns ="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pages/index.css" th:href="@{/css/pages/index.css}"/>
    <link rel="shortcut icon" type="image/png" href="../static/img/icon.png">
    <title>Вход</title>
</head>
<body class="p">
<div class="page">
    <div class="modal-box">
        <span class="close-button" id="close-2">X</span>
        <div class="modal__header-buttons">
            <p class="modal__header-button">Войти через Google</p>
            <a href="#" class="modal__header-button">Вход</a> <!-- TODO: Google вход -->
        </div>
        <div class="modal__main">
            <h1 class="modal__main-caption">Возвращение души</h1>
            <p class="modal__main-comment">Зайдите в аккаунт</p>
        </div>
        <div class="modal__line"></div>
        <form class="modal__forms" method="post" th:action="@{/login}">
            <label for="in_login">Введите логин</label>
            <input type="text" id="in_login" name="login" placeholder="Логин">
            <label for="in_password">Введите пароль</label>
            <input type="password" id="in_password" name="password" placeholder="Пароль">
            <input class="modal__form-send" type="submit">
        </form>
    </div>
</div>
</body>
</html>