.menu__information-bg {
    font-family: 'Source Sans Pro', serif;
    font-weight: 600;
    font-size: 110px;
    line-height: 138px;
    color: rgba(236, 232, 225, 0.1);

    padding: 0 0 0 230px;
    margin: 169px 0 0 0;
}

.menu__information-text {
    font-family: 'Source Sans Pro', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    position: absolute;
    padding: 0 0 0 450px;
    margin: -80px 0 0 0;

    text-align: justify;

    background: linear-gradient(102.24deg, #D57474 107.93%, rgba(255, 255, 255, 0) 144.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 10px 4px #B80000;
}