.menu__information-descrip-one {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;

    background: linear-gradient(102.24deg, #FFFFFF 107.93%, rgba(255, 255, 255, 0) 144.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 10px 4px #B80000;

    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.menu__information-descrip-two {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;

    background: linear-gradient(102.24deg, #FFFFFF 107.93%, rgba(255, 255, 255, 0) 144.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 10px 4px #B80000;

    margin: 0;
    padding: 0 130px 0 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.menu__information-descrip-element-one {
    margin: 0;
    padding: 70px 750px 0 200px;
    flex-grow: 1;
}

.menu__information-descrip-element-two {
    margin: 0;
    padding: 80px 90px 0 0;
    display: flex;
    flex-direction: row;
}