.__discussion {
    margin: 100px 80px auto 80px;
    padding: 0;
    grid-column-gap: 10px;
    grid-row-gap: 23px;

}

.__discussion-blocks {
    display: grid;
    grid-template-areas:
    "a a b"
    "a a c"
    ". . d";
    max-width: 1440px;
}

.__discussion-block {
    background: #490000;
    border-radius: 45px;
    grid-area: a;
    width: 900px;
    padding: 0 0 30px 0;
    height: fit-content;
}

.__discussion-block#block-4 { grid-area: b; max-width: 350px; height: fit-content; margin: 0 0 15px 0; }
.__discussion-block#block-5 { grid-area: c; max-width: 350px; height: fit-content; margin: 0 0 15px 0; }
.__discussion-block#block-6 { grid-area: d; max-width: 350px; height: fit-content; }