.information {
    display: flex;
    flex-direction: row;
}

.acc-information {
    display: flex;
    flex-direction: row;
}

.menu__acc-avatar {
    border-radius: 50%;
    background-color: #ffffff;
    padding: 1.8% 0 0 0;
    width: 286px;
    height: 280px;
}

.menu__acc-nickname {
    text-transform: uppercase;
    font-family: 'a_MachinaNova', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    padding: 20px 0 0 0;

    color: #FFFFFF;
}

.menu__acc-list {
    margin: 100px 0 0 -160px;
}

.menu__acc-list-link {
    text-decoration: none;
    color: #FFFFFF;
}

.menu__acc-list-element {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Sitka', monospace;
    text-align: left;
    text-space: 15px;
    padding: 7px 0 0 0;
}